html {
    position: relative;
    min-height: 100%;
  }

  .center {
      text-align: center;
      
  
  }
  body {
    padding-top: 0px;
    background-image: url('../kuvat/boat-2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 2000px;
    
  }
  footer {
      bottom: 0px;
      width: 100%;
      height: 3%;
        clear: both;
        position: relative;
        margin-top: auto;
    }

.fa {
  padding: auto;
  font-size: auto;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius:0%
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }


  .moro {
    color: rgba(53, 82, 99, 0.74);
    padding-right: 30px;
    }
    
    .col-sm {
        padding-top: 50px;
    }
    
    .varjo {
        box-shadow: 10px 10px darkgray;
        text-shadow: 2px 2px darkgray;
        padding-top: 6%;
    }
    
    
    
    a:link {
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: 1s;
      }
      
      /* visited link */
      a:visited {
        color: rgb(0, 0, 0);
      }
      
      /* mouse over link */
      a:hover {
        color: rgb(61, 123, 134);
      }
      
      /* selected link */
      a:active {
        color: rgb(0, 0, 0);
      }
      
      .carousel {
        width: 600px;
        size: 100%;
      }

      a.postit {
        background-color: rgba(233, 233, 233, 0.473);
        color: rgb(56, 56, 56);
        border: 0px solid rgba(233, 233, 233, 0.411);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
        transition: 1s;
       }
       a.postit:hover {
         color: rgb(80, 146, 168);
         background-color: rgba(211, 211, 211, 0.39);
       }



       /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(226, 226, 226);
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(255, 255, 255, 0.658);
  color: rgb(37, 37, 37);
  transform: rotateY(180deg);
}


.jeeseli {
  justify-content: center;
  position: relative;
  text-align: center;
  align-content: center;
  margin-left: 15%;
  
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.493);
}
