
h1 {
    border-color:#0a0a0a;
    border-width: 100%;
    border-style: solid;
    text-align: center;
}
p {
    padding: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
}
h2 { 
    text-align: center;
    color: rgba(2, 2, 2, 0.822);
    font-size: 24px;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6%;
}
body {
    padding-top: 0px;
    background-image: url('../Images/thumb-1920-774372.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 18.50px;
    letter-spacing: 1px;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.61);
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 6%;   
}
    
a:link {
    color: rgba(2, 2, 2, 0.822);
    text-decoration: none;
    transition: 1s;
}
      
      /* visited link */
a:visited {
    color: rgba(2, 2, 2, 0.822);
}
      
      /* mouse over link */
a:hover {
    color: rgb(87, 87, 87);
}
      
      /* selected link */
a:active {
    color: rgb(0, 0, 0);
}

.nexLogo {
  width: fit-content;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}